<div class="header">
    <h1>Página da policia</h1>
    <a href="/home-screen"><img src="/assets/icons/sair.png" title="Sair"></a>
</div>
<div class="policia-page">
    <div class="side-bar">
        <div class="item">
            Inicio
            <hr>
        </div>
        <div class="item">
            Sobre
            <hr>
        </div>
        <div class="item">
            Configurações
            <hr>
        </div>
    </div>
    <div class="content">
        <div class="busca-container">
            <div class="busca">
                <h4>Adicionar Dispositivo encontrado</h4>
                <hr>
                <form (ngSubmit)="onSubmit()" #form="ngForm" class="input-form">
                    <div class="input-wrap">
                        <label for="marcar-achado">Imei do dispositivo encontrado</label>
                        <input id="marcar-achado" name="marcar-achado"  placeholder="Insira o Imei" type="text" [(ngModel)]="phone.imei" required>
                    </div>
                    <button type="submit" [disabled]="form.form.invalid" class="confirm-button">OK</button>
                </form>
            </div>
            <!--Fazer lista dos dispositivos encontrados-->
        </div>

        <div class="lista-container">
            <div class="lista">
                <h4>Lista de Dispositivos Marcados como Perdidos</h4>
                <hr>
                <h5 *ngIf="phones.length == 0"> Nenhum dispositivo Perdido!</h5>
                <ul *ngIf="phones.length> 0" style="width: 100%;">
                    <li *ngFor="let phone of phones" class="Dispositivos-container">
                        <h4>{{phone.model}}</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



