<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<body>
    <div class="profile-card">
        <div class="upper">
            <img src="https://cdn.discordapp.com/attachments/301484159199870979/1120349559151919174/arrow-back-regular-24.png" (click)="logout()">
            <h2>Perfil</h2>
            <img src="https://cdn.discordapp.com/attachments/301484159199870979/1120350770445947010/bell-regular-24.png">
        </div>
        <div class="image">
            <img class="profile-img" src="https://img.freepik.com/free-icon/user_318-159711.jpg">
        </div>
        <button class="edit-profile-btn" [routerLink]="['/edit-perfil']" >Editar Perfil</button>
    </div>
    <div class="meio">
        <h3>Dispositivos:</h3>
    </div>
    <div class="phones-content">
        <h5 *ngIf="user.phones.length== 0"> Nenhum dispositivo cadastrado, cadastre um novo agora mesmo!</h5>
        <ul *ngIf="user.phones.length> 0" style="width: 100%;">
            <li *ngFor="let phone of phones" (click)="ativaModal(phone)" class="Dispositivos-container">
                <h4>{{phone.model}}</h4>
                <img src="https://cdn.discordapp.com/attachments/301484159199870979/1120354673082245171/chevron-right-regular-24.png">
            </li>
        </ul>
        <button [routerLink]="['/adicionar-dispositivo']">Adicionar dispositivo</button>
    </div>
</body>

<div class="modal-dispositivo" *ngIf="modal">
    <button (click)="desativaModal()" style="align-self: flex-end; width: 5%; background-color: rgb(255, 0, 0); border: none
    ; border-radius: 5px;">x</button>
    <h1>{{phone1.model}}</h1>
    <h2>Numero: {{phone1.number1}}</h2>
    <h2>Imei: {{phone1.imei}}</h2>
    <div class="buttons">
        <button (click)="remove(phone1)" style="background-color: rgb(255, 98, 98);">Remover dispositivo</button>
        <button (click)="marcaPerdido(phone1)">Dispositivo perdido</button>
    </div>
</div>

