<div class="header">
    <h1>Perfil de usuário</h1>
    <a href="/home-screen"><img src="/assets/icons/sair.png" title="Sair"></a>
</div>

<div class="profile-page">
    <div class="side-bar">
        <div class="profile-card">
            <div class="image">
                <img class="profile-img" src="/assets/icons/profile.png">
            </div>
            <h3 style="color: black; margin-top: 10%;">{{user.full_name}}</h3>
        </div>
        <div class="item">
            <a>Inicio</a>
            <hr>
        </div>
        <div class="item">
            <a href="/edit-perfil">Editar Perfil</a>
            <hr>
        </div>
        <div class="item">
            <a>Configurações</a>
            <hr>
        </div>
    </div>

    <div class="phones-content">
        <h2> Meus Dispositivos</h2>
        <h5 *ngIf="user.phones.length == 0"> Nenhum dispositivo cadastrado, cadastre um novo agora mesmo!</h5>
        <ul *ngIf="user.phones.length> 0" style="width: 100%;">
            <li *ngFor="let phone of phones" (click)="ativaModal(phone)" class="Dispositivos-container">
                <h4>{{phone.model}}</h4>
            </li>
        </ul>
        <button [routerLink]="['/adicionar-dispositivo']">Adicionar dispositivo</button>
    </div>

    <div class="phones-content"> 
        <h2> Dispositivos Perdidos</h2>
        <h5 *ngIf="user.lostPhones.length == 0"> Nenhum dispositivo perdido!</h5>
        <ul *ngIf="user.lostPhones.length > 0" style="width: 100%;">
            <li *ngFor="let phone of lostPhones" (click)="ativaModalBO(phone)" class="Dispositivos-container">
                <h4>{{phone.model}}</h4>
            </li>
        </ul>
    </div>
    
</div>


<div class="modal-dispositivo" *ngIf="modal">
    <img src ="/assets/icons/close.png" (click)="desativaModal()">
    <h1>{{phone1.model}}</h1>
    <h2>Numero: {{phone1.number1}}</h2>
    <h2>Imei: {{phone1.imei}}</h2>
    <div class="buttons">
        <button (click)="remove(phone1)" style="background-color: rgb(255, 98, 98);">Remover dispositivo</button>
        <button (click)="marcaPerdido(phone1)">Dispositivo perdido</button>
    </div>
</div>

<div class="modal-dispositivo" *ngIf="modalBO">
    <img src ="/assets/icons/close.png" (click)="desativaModal()">
    <h2> Dispositivo Perdido!</h2>
    
    <h3>modelo: {{phone1.model}}</h3>
    <h3>imei: {{phone1.imei}}</h3>

    <div class="BO-container" *ngIf="!phone1.BOfeito" style="display: flex; flex-direction: column;">
        <h3>Como fazer um BO online:</h3>
        <ul style="width: 95%; margin-left: 15px; display: flex; flex-direction: column;">
            <li>Acesse o site da Delegacia Virtual em qualquer dispositivo;</li>
            <li>Selecione “Comunicar ocorrência”;</li>
            <li>Escolha uma das ocorrências disponíveis;</li>
            <li>Comece a triagem do boletim. Primeiro, informe o que foi furtado ou roubado;</li>
            <li>Depois, insira o local. Além de escolher entre as opções da lista, o site exibe um formulário para preencher o endereço, a data e a hora do acontecimento;</li>
            <li>Em seguida, preencha com informações pessoais;</li>
            <li>Avance no formulário e digite todos os detalhes sobre o que aconteceu. Por fim, envie o boletim para a aprovação.</li>
        </ul>
        <input id="idBO" name="idBO" placeholder="Insira o identificador do BO"  type="text" [(ngModel)]="idBO">
        <button (click)="fazBO(phone1)">BO realizado</button>
    </div>

</div>
