*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

.header{
    background-color: rgba(0, 112, 192, 1);
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > a > img{
    width: 40px;
    height: 40px;
}

.header > h1{
    margin: 0%;
    font-family: 'MyFont';
}

.profile-page{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar{
    width: 20%;
    background-color: rgba(0, 112, 192, 0.616);
    height: 100%;
    padding: 1%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.profile-card{
    width: 95%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2%;
    margin-top: 10%;
}

.profile-card > h2{
    color: #f4f4f4;
}

.profile-card::before{
    content: '';
    position: absolute;
    height: 120px;
    width: 100%;
    background-color: #4070f4;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
}


.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: rgb(170, 168, 168);
}

.item{
    padding-top: 5%;
}

.item > hr {
    margin-top: 2%;
    border: none;
    border-top: 1px solid black;
}

.phones-content{
    width: 40%;
    height: 80%;
    box-shadow: 0 2px 8px #333;
    border-radius: 20px;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.phones-content > button{
    background-color: rgb(98, 255, 169);
    color: #000000;
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-top: 5%;
    
}

.phones-content > button:hover{
    cursor: pointer;
    background-color: rgba(98, 255, 169, .7);
}

.phones-content > ul{
    flex-direction: column;
}

.Dispositivos-container{
    margin: 10px;
    width: 100%;
    box-shadow: 0 2px 8px #33333386;
    padding: 10px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.Dispositivos-container:hover{
    cursor: pointer;
}

.modal-dispositivo{
    display: flex;
    transform: translate(-50%, -50%);
    background-color: white;
    position: absolute;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    padding: 2%;
    width: 40%;
    box-shadow: 0 2px 8px #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-dispositivo > img{
    width: 20px;
    height: 20px;
    align-self: flex-end;
}

.modal-dispositivo > img:hover{
    cursor: pointer;
}

.modal-dispositivo > h1{
    margin: 2%;
    margin-bottom: 5%;
}

.modal-dispositivo > h2{
    align-self: left;
    margin: 2%;
}

.buttons{
    margin-top: 2%;
    display: flex;
}
.buttons > button{
    color: #000000;
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-top: 6%;
    margin: 6px;
}

.BO-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BO-container > button{
    background-color: rgb(98, 255, 169); 
    border: none; 
    border-radius: 15px; 
    height: 40px; 
    padding: 10px; 
    align-items: center; 
    justify-content: center;
    margin: 2%;
    width: 40%;
}

.BO-container > input{
    width: 80%;
    height: 40px;
    margin: 2%;
    border: none;
    background-color: #8d8b8b2d;
    border-radius: 15px;
    padding: 5px;
}

.BO-container > h3 {
    margin: 2%;
}

.BO-container > ul > li{
    margin-bottom: 2%;
}

@media screen and (max-width: 800px){

    .profile-page{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .side-bar{
        width: 90%;
        background-color: white;
        padding: 0;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
    }

    .profile-card{
        margin-top: 0;
        width: 100%;
        box-shadow: 0 2px 8px #333;
    }

    .item{
        visibility:hidden;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .phones-content{
        width: 90%;
        padding: 3%;
    }

    .Dispositivos-container{
        width: 90%;
    }

    .modal-dispositivo{
        width: 90%;
    }

}
