*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f4f4f4;
    flex-direction: column;
}

.profile-card{
    width: 95%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2%;
    margin-top: 10%;
}

.profile-card > h2{
    color: #f4f4f4;
}

.profile-card::before{
    content: '';
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #4070f4;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
}

.upper{
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}
.upper > img{
    height: 100%;
    width: auto;
}


.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.edit-profile-btn{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin-top: 5%;
}

.meio{
    justify-content: flex-start;
    width: 95%;
    padding-left: 5%
}

.phones-content{
    width: 95%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2%;
}

.phones-content > button{
    background-color: rgb(98, 255, 169);
    color: #000000;
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-top: 5%;
}

.phones-content .Dispositivos-container{
    margin: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}


.modal-dispositivo{
    display: flex;
    transform: translate(-50%, -50%);
    background-color: rgb(179, 179, 179);
    position: absolute;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    padding: 5%;
    width: 80%;
    box-shadow: 0 2px 8px #333;
}
.buttons{
    display: flex;
}
.buttons > button{
    color: #000000;
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-top: 6%;
    margin: 6px;
}