<div class="home-screen-container">
    <div class="image-header">
        <img src="https://i.imgur.com/8SdfQ9M.jpeg" title="logo do gpp">
    </div>
    <div class="texts">
        <h4>
            Bem-vindo à plataforma do gpp de recuperação de celulares furtados ou roubados em eventos! Estamos aqui para oferecer uma solução eficaz e segura para um problema que afeta muitos indivíduos em todo o mundo. Nossa plataforma foi criada para simplificar e agilizar a recuperação de seus dispositivos perdidos, proporcionando tranquilidade em momentos estressantes.
        </h4>
    </div>
    <div class="buttons">
        <button [routerLink]="['/login']">Login</button>
        <button [routerLink]="['/create-account']">Reistrar</button>
    </div>

</div>
