<div class="header"></div>
<div class = "home-screen">
    <div class="left">
        <img src="/assets/Logo.png" alt="Logo GPP">
        <div class="line">
            <h1 style="color: rgba(0, 112, 192, 1);">G</h1><h1>uardinha do</h1>
        </div>
        <div class="line">
            <h1 style="color: rgba(255, 220, 99, 1);">P</h1><h1>arque</h1><h1 style="padding-left: 10px;">do</h1><h1 style="color: rgba(255, 220, 99, 1); padding-left: 10px;">P</h1><h1>ovo</h1>
        </div>
        
        
    </div>
    <div class="right">
        <div class="infos">
            <img src="/assets/icons/info.png">
            <h2>Descrição geral</h2>
        </div>
        <div class="infos">
            <img src="/assets/icons/user.png">
            <h2>Registre-se ou faça login</h2>
        </div>
        <div class="infos">
            <img src="/assets/icons/celular.png">
            <h2>Cadastre o IMEI do seu aparelho</h2>
        </div>
        <div class="infos">
            <img src="/assets/icons/sirene.png">
            <h2>Caso o aparelho seja roubado, comunique no nosso app</h2>
        </div>
        <div class="infos">
            <img src="/assets/icons/identificacao-policial.png">
            <h2>A informação será direcionada para a policia local</h2>
        </div>
        <div class="buttons">
            <button class="register-btt" [routerLink]="['/create-account']">Registrar</button>
            <button class="login-btt" [routerLink]="['/login']">Login</button>
        </div>
        
    </div>

</div>
